body {
    padding: 35px;

    font-size: 18px;
    line-height: 22px;
    font-family: cursive;
    color: white;
    text-align: center;
    background-color: #2B292E;
    background-image: url(img/dumplings.jpg);
    /*background-position: right;*/
    background-repeat: repeat;
}

.h1-ordinary {
    margin-bottom: 60px;
}

.h1-section {
    margin-top: 40px;
}

.h2-QandA {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 40px;
}

dl {
    text-align: left;
}

.logo1 {
    position: absolute;
    margin: 90px 0 0 60px;
    z-index: 100;
   }

.downloadbutton {
    position: absolute;
    margin: -5px 0 0 1135px;
    z-index: 100;
   }

.pepper {
    position: absolute;
    margin: -30px 0 0 1200px;
    z-index: 100;
}

/* USE (this code bellow) ONLY IF IT'S NEEDED, right now it isn't

.pepperfork {
    position: absolute;
    margin: -70px 0 0 12px;
    z-index: 100;
}*/